<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"
          name="viewport"/>
    <title>没事影院电影频道-最新电影在线观看-首播影院-没事影院</title>
    <meta name="title" content="没事影院电影频道-最新电影在线观看-首播影院-没事影院"/>
    <meta name="keywords" content="电影,大片,首播，最新电影,高清电影,正版电影,国产片,好莱坞大片,欧美电影,港台电影,日韩电影,热播电影,高清视频,在线观看"/>
    <meta name="description"
          content="没事影院电影频道提供当下最新、最火各类好看的电影大片在线观看服务，没事影院电影频道致力于免费在线观看，向广大提供网友丰富多彩的好莱坞电影、欧美电影、日韩电影、国语电影以及其他国家的经典电影在线点播服务。"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta content="没事影院" name="apple-mobile-web-app-title"/>
    <link href="http://m.m4yy.com/templets/2345/images/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-lazyload.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery.base.js"></script>
</head>
<body>
<header class="header clearfix">

    <a href="javascript:void(0);" target="_self" class="aChannel top_channel_btn"><span>电影</span><i
            class="moreArrow"></i></a>
    <a href="javascript:void(0);" target="_self" class="aHeaderSearch top_search_btn"><i
            class="globalIcon searchIcon"></i><em>全网搜索</em></a>

    <a href="http://m.m4yy.com/" target="_self" class="aHeaderFun"><i
            class="globalIcon indexIcon"></i><span>首页</span></a>

    <p class="headerChannelList">
        <a href="http://m.m4yy.com/" target="_self">首页</a>

        <a href="channel.html" class="current" target="_self">电影</a>

        <a href="http://m.m4yy.com/type/2.html" target="_self">电视剧</a>

        <a href="http://m.m4yy.com/type/3.html" target="_self">综艺</a>

        <a href="http://m.m4yy.com/type/4.html" target="_self">动漫</a>

        <a href="http://m.m4yy.com/type/5.html" target="_self">福利</a>

    </p>
    <section class="searchPop popShow">
        <section class="searchCon">
            <span class="sSearchInput"><form id="ffsearch" name="ffsearch" method="post"
                                             action="http://m.m4yy.com/search.php"><input autocomplete="off"
                                                                                          autovalue="请输入片名或主演名"
                                                                                          class="searchInput"
                                                                                          placeholder="请输入片名或主演名"
                                                                                          type="search" id="keyword"
                                                                                          name="searchword"></form><i
                    class="iDelete" style="display: none;"></i></span><input class="cancelInput" value="取消"
                                                                             type="button"></section>
        <p class="pLinks">

            <a href="http://m.m4yy.com/show/17365.html" target="_self" title="神探狄仁杰第四部"><span
                    class="sName">神探狄仁杰第四部</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/22056.html" target="_self" title="大话西游之爱你一万年"><span
                    class="sName">大话西游之爱你一万年</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21467.html" target="_self" title="白夜追凶"><span class="sName">白夜追凶</span><span
                    class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21455.html" target="_self" title="那年花开月正圆"><span
                    class="sName">那年花开月正圆</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21379.html" target="_self" title="通天狄仁杰"><span
                    class="sName">通天狄仁杰</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21834.html" target="_self" title="反黑"><span class="sName">反黑</span><span
                    class="sStyle">电视剧</span></a>

        </p></section>
</header>
<div class="mask"></div>
<div class="tbmov-noticetop">
    <script type="text/javascript" language="javascript" src="http://m.m4yy.com/js/js/waptop.js"></script>
</div>

<div class="link-green">
    <div class="link-green-tab">
        <ul>
            <li class="tab-cur"><a href="javascript:void(0);" onClick="_dct_('m_dy_tj');">精选</a></li>
            <li><a href="http://m.m4yy.com/search.php?page=1&searchtype=5&order=time&tid=1" onclick="_dct_('m_dy_pk');">筛选</a>
            </li>
        </ul>
    </div>
</div>

<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>最新电影</h2>
    <div class="more"><i class="icor iconfont"><a
            href="http://m.m4yy.com/search.php?searchtype=5&amp;order=time&amp;tid=1" title="更多" target="_self">更多</a></i>
    </div>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="globalPicList threeList clearfix" id="resize_list">

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/20914.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170726/5c118a30b97f5505.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="诡井 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/20914.html" target="_self">诡井</a></span>
            <span class="sDes">彭禺厶 周凯文 曹琦</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22461.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171014/f69d40983f0d01a4.jpg"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="小小爸爸 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22461.html" target="_self">小小爸爸</a></span>
            <span class="sDes">刘小光 汪涵（演员） 关婷娜 赵海燕</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/21343.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170508/dc6a8aff21a1c197.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="青禾男高 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/21343.html" target="_self">青禾男高</a></span>
            <span class="sDes">景甜 欧豪 黑木明纱</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22488.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171016/7a95a94adea0754e.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="大漠雄心 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22488.html" target="_self">大漠雄心</a></span>
            <span class="sDes">张译文 黑雯丽 花昆</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/21314.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170817/55a6c558e9187233.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="二宝闯江湖 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/21314.html" target="_self">二宝闯江湖</a></span>
            <span class="sDes">刁克 何欣遥 李健仁</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22520.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E59240ADBC097CF40AB28E"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="辣妹神探 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22520.html" target="_self">辣妹神探</a></span>
            <span class="sDes">张姝妺 何佳伟 刘小乔</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/20952.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170614/1482def2ca8e8831.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="内心引力 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/20952.html" target="_self">内心引力</a></span>
            <span class="sDes">内详</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22519.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E565E9859B5CAA7A07B15E"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="龙虾刑警 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22519.html" target="_self">龙虾刑警</a></span>
            <span class="sDes">王千源 袁姗姗 刘桦</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22518.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/051600005729A660000000195504CDFC"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="摩天轮 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22518.html" target="_self">摩天轮</a></span>
            <span class="sDes">凯特·温丝莱特 朱诺·坦普尔 贾斯汀·汀布莱克</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22517.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E5CED6AD881A0485083F93"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="辣手保姆 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22517.html" target="_self">辣手保姆</a></span>
            <span class="sDes">Judah Lewis 罗比·阿梅尔 汉娜·梅·李</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/19154.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170704/a40ab3bbd3ce7ef3.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="乐高幻影忍者大电影 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/19154.html" target="_self">乐高幻影忍者大电影</a></span>
            <span class="sDes">奥立薇娅·玛恩 成龙 戴夫·弗兰科</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/21648.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170911/e63b5ebc50484ed8.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="会痛的十七岁 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/21648.html" target="_self">会痛的十七岁</a></span>
            <span class="sDes">徐娇 胡夏 鲁诺</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22503.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E43DF8ADBC0974C307B5F5"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="女性本色 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22503.html" target="_self">女性本色</a></span>
            <span class="sDes">王震森 王雨婷 陶欢</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22502.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/051600005306B20E6758396EF5061CBB"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="求婚脑震荡 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22502.html" target="_self">求婚脑震荡</a></span>
            <span class="sDes">休·格兰特 詹姆斯·卡恩 珍妮·特里普里霍恩</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22464.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171014/d0e76f3455cbe429.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="荒岛大逃亡 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22464.html" target="_self">荒岛大逃亡</a></span>
            <span class="sDes">刘乐妍 颜渝又 张文骏</span>
        </li>

    </ul>
</div>

<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>喜剧电影</h2>
    <div class="more"><i class="icor iconfont"><a
            href="http://m.m4yy.com/search.php?searchtype=5&amp;order=time&amp;tid=1&amp;jq=喜剧" title="更多"
            target="_self">更多</a></i></div>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="globalPicList threeList clearfix" id="resize_list">

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22461.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171014/f69d40983f0d01a4.jpg"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="小小爸爸 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22461.html" target="_self">小小爸爸</a></span>
            <span class="sDes">刘小光 汪涵（演员） 关婷娜 赵海燕</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/21343.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170508/dc6a8aff21a1c197.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="青禾男高 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/21343.html" target="_self">青禾男高</a></span>
            <span class="sDes">景甜 欧豪 黑木明纱</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22519.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E565E9859B5CAA7A07B15E"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="龙虾刑警 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22519.html" target="_self">龙虾刑警</a></span>
            <span class="sDes">王千源 袁姗姗 刘桦</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22517.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E5CED6AD881A0485083F93"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="辣手保姆 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22517.html" target="_self">辣手保姆</a></span>
            <span class="sDes">Judah Lewis 罗比·阿梅尔 汉娜·梅·李</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/19154.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170704/a40ab3bbd3ce7ef3.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="乐高幻影忍者大电影 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/19154.html" target="_self">乐高幻影忍者大电影</a></span>
            <span class="sDes">奥立薇娅·玛恩 成龙 戴夫·弗兰科</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22502.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/051600005306B20E6758396EF5061CBB"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="求婚脑震荡 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22502.html" target="_self">求婚脑震荡</a></span>
            <span class="sDes">休·格兰特 詹姆斯·卡恩 珍妮·特里普里霍恩</span>
        </li>

    </ul>
</div>

<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>动作电影</h2>
    <div class="more"><i class="icor iconfont"><a
            href="http://m.m4yy.com/search.php?searchtype=5&amp;order=time&amp;tid=1&amp;jq=动作" title="更多"
            target="_self">更多</a></i></div>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="globalPicList threeList clearfix" id="resize_list">

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/21343.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170508/dc6a8aff21a1c197.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="青禾男高 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/21343.html" target="_self">青禾男高</a></span>
            <span class="sDes">景甜 欧豪 黑木明纱</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22519.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E565E9859B5CAA7A07B15E"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="龙虾刑警 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22519.html" target="_self">龙虾刑警</a></span>
            <span class="sDes">王千源 袁姗姗 刘桦</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/19154.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170704/a40ab3bbd3ce7ef3.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="乐高幻影忍者大电影 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/19154.html" target="_self">乐高幻影忍者大电影</a></span>
            <span class="sDes">奥立薇娅·玛恩 成龙 戴夫·弗兰科</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22419.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171013/64c6c98e1f058588.jpg"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="秦贼有道 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22419.html" target="_self">秦贼有道</a></span>
            <span class="sDes">兰梦莎 张玉轩</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22497.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E46922ADBA1FF6FB0E5CE5"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="赶尽杀绝 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22497.html" target="_self">赶尽杀绝</a></span>
            <span class="sDes">克里夫·欧文 保罗·吉亚玛提 莫妮卡·贝鲁奇</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/20960.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170727/01f7a4b3ed2a6fb8.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="极寒之城 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/20960.html" target="_self">极寒之城</a></span>
            <span class="sDes">索菲亚·宝特拉 查理兹·塞隆 詹姆斯·麦卡沃伊</span>
        </li>

    </ul>
</div>

<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>科幻电影</h2>
    <div class="more"><i class="icor iconfont"><a
            href="http://m.m4yy.com/search.php?searchtype=5&amp;order=time&amp;tid=1&amp;jq=科幻" title="更多"
            target="_self">更多</a></i></div>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="globalPicList threeList clearfix" id="resize_list">

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22501.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170508/61464b9771e36184.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="超凡蜘蛛侠 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22501.html" target="_self">超凡蜘蛛侠</a></span>
            <span class="sDes">安德鲁·加菲尔德饰PeterParker 艾玛·斯通饰GwenStacy 瑞斯·伊凡斯饰Dr.CurtConnors</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22469.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171014/309b3b1af761108a.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="移动迷宫3 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22469.html" target="_self">移动迷宫3</a></span>
            <span class="sDes">迪伦·奥布莱恩 卡雅·斯考达里奥 托马斯·桑斯特</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22395.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059DED3AFADBC0948A2031A4D"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="屁屁侠，我们走 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22395.html" target="_self">屁屁侠，我们走</a></span>
            <span class="sDes">韩飞 张艺宣 楼志丹</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22364.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171010/005b51e2562868f5.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="无处逃生 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22364.html" target="_self">无处逃生</a></span>
            <span class="sDes">Lee Ross Sheila Reid Andrew Leung</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/977.html" target="_self"><img class="loading"
                                                                                           data-original="http://pic.yy604.cn/uploads/allimg/170509/a19d47937174067c.jpg"
                                                                                           src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                           alt="侏罗纪世界 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/977.html" target="_self">侏罗纪世界</a></span>
            <span class="sDes">克里斯·普拉特 朱迪·格雷尔 文森特·多诺费奥 杰克·约翰逊</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/2004.html" target="_self"><img class="loading"
                                                                                            data-original="http://pic.yy604.cn/uploads/allimg/171010/c74c64d3f8109550.gif"
                                                                                            src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                            alt="报信的人 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/2004.html" target="_self">报信的人</a></span>
            <span class="sDes">哈利·戴恩·斯坦通 艾米利奥·艾斯特维兹 Tracey Walter</span>
        </li>

    </ul>
</div>

<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>恐怖电影</h2>
    <div class="more"><i class="icor iconfont"><a
            href="http://m.m4yy.com/search.php?searchtype=5&amp;order=time&amp;tid=1&amp;jq=恐怖" title="更多"
            target="_self">更多</a></i></div>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="globalPicList threeList clearfix" id="resize_list">

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/20914.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/170726/5c118a30b97f5505.gif"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="诡井 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/20914.html" target="_self">诡井</a></span>
            <span class="sDes">彭禺厶 周凯文 曹琦</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22517.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059E5CED6AD881A0485083F93"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="辣手保姆 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22517.html" target="_self">辣手保姆</a></span>
            <span class="sDes">Judah Lewis 罗比·阿梅尔 汉娜·梅·李</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22500.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059CF5DFA859B5D02F70B2AC4"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="小恶魔 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22500.html" target="_self">小恶魔</a></span>
            <span class="sDes">伊万杰琳·莉莉 亚当·斯科特 莎莉·菲尔德</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22420.html" target="_self"><img class="loading"
                                                                                             data-original="http://pic.yy604.cn/uploads/allimg/171013/9db76ae409667ce3.jpg"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="亨利之书 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22420.html" target="_self">亨利之书</a></span>
            <span class="sDes">娜奥米·沃茨 雅各布·特伦布莱 萨拉·西尔弗曼 迪恩·诺里斯</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/22390.html" target="_self"><img class="loading"
                                                                                             data-original="http://r1.ykimg.com/0516000059CDEE19859B5E11B1061473"
                                                                                             src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                             alt="怨灵2 预告"><span
                    class="sBottom">预告</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/22390.html" target="_self">怨灵2</a></span>
            <span class="sDes">李川 奥密兹·苏查拉特 倪慕斯</span>
        </li>

        <li>
            <div class="pic"><a href="http://m.m4yy.com/show/1245.html" target="_self"><img class="loading"
                                                                                            data-original="http://pic.yy604.cn/uploads/allimg/170509/bc194d862ef76ea8.jpg"
                                                                                            src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                                                                                            alt="德古拉元年 高清"><span
                    class="sBottom">高清</span></a></div>
            <span class="sTit"><a href="http://m.m4yy.com/show/1245.html" target="_self">德古拉元年</a></span>
            <span class="sDes">卢克·伊万斯 莎拉·加顿饰Mirena 多米尼克·库珀饰Mehmed</span>
        </li>

    </ul>
</div>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/sildeFocusPlugin.js"></script>
<script>
    $("#focus").sildeFocusPlugin({
        speed: 10,
        conClassName: "focusList",
        tabClassName: "focusTab"
    });
</script>
<div class="footer">
    <div class="fBox">
        <div class="footer_nav">
            <a href="http://m.m4yy.com/top/top.html" target="_self">影片榜单</a>-<a href="http://m.m4yy.com/gbook.php"
                                                                                target="_self">留言反馈</a>-<a
                href="javascript:scroll(0,0)" target="_self">返回顶部</a></div>
        本网站所有内容均系采集于互联网，若本站收录的节目无意侵犯了贵司版权，请给邮箱xuanday#qq.com来信，我们会及时处理！
    </div>
</div>
<section class="fixedBtnList" style="">
    <a onclick="_dct_('mys_bottom_top');" class="gotoTop" target="_self" href="javascript:scroll(0,0)"></a>
</section>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1263238855&web_id=1263238855"
                                   language="JavaScript"></script></span>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/common.min.js"></script>
<script type="text/javascript" src="http://m.m4yy.com/js/lm.js"></script>
<script type="text/javascript" src="http://m.m4yy.com/js/foot.js"></script>
</body>
</html>