<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"
          name="viewport">
    <title>没事影院电视直播频道 - 全国电视台直播 - 没事影院</title>
    <meta name="keywords" content="网络电视,网络电视直播,网络电视在线直播,电视台直播,卫星电视">
    <meta name="description"
          content="没事影院电视直播频道免费的网络电视在线直播网站。提供电视台节目在线直播，电视台节目预告、节目列表下载等功能。热门电视网络在线直播，网络电视台，是您追剧追电视节目的最佳电视台直播网。">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta content="没事影院" name="apple-mobile-web-app-title">
    <link href="http://m.m4yy.com/templets/2345/images/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-lazyload.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery.base.js"></script>
</head>
<body>
<header class="header clearfix">
    <a href="javascript:void(0);" target="_self" class="aChannel top_channel_btn"><span>电视直播</span><i
            class="moreArrow"></i></a>
    <a href="javascript:void(0);" target="_self" class="aHeaderSearch top_search_btn"><i
            class="globalIcon searchIcon"></i><em>全网搜索</em></a>
    <a href="http://m.m4yy.com/" target="_self" class="aHeaderFun"><i
            class="globalIcon indexIcon"></i><span>首页</span></a>
    <p class="headerChannelList">
        <a href="http://m.m4yy.com/" target="_self">首页</a>

        <a href="http://m.m4yy.com/type/1.html" target="_self">电影</a>

        <a href="http://m.m4yy.com/type/2.html" target="_self">电视剧</a>

        <a href="http://m.m4yy.com/type/3.html" target="_self">综艺</a>

        <a href="http://m.m4yy.com/type/4.html" target="_self">动漫</a>

        <a href="http://m.m4yy.com/type/5.html" target="_self">福利</a>

    </p>
    <section class="searchPop popShow">
        <section class="searchCon">
            <span class="sSearchInput"><form id="ffsearch" name="ffsearch" method="post"
                                             action="http://m.m4yy.com/search.php"><input autocomplete="off"
                                                                                          autovalue="请输入片名或主演名"
                                                                                          class="searchInput"
                                                                                          placeholder="请输入片名或主演名"
                                                                                          type="search" id="keyword"
                                                                                          name="searchword"></form><i
                    class="iDelete" style="display: none;"></i></span><input class="cancelInput" value="取消"
                                                                             type="button"></section>
    </section>
</header>
<div class="mask"></div>
<div class="tbmov-noticetop">
    <script type="text/javascript" language="javascript" src="http://m.m4yy.com/js/ads/waptop.js"></script>
</div>
<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>热门电视台</h2>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="liveList clearfix">
        <li><a href="http://m.m4yy.com/live/hunan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/hntv.png" alt=""/></span><span
                class="sName">湖南卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/zhejiang.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/zjtv.png" alt=""/></span><span
                class="sName">浙江卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/jiangsu.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/jstv.png" alt=""/></span><span
                class="sName">江苏卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/dongfang.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/dftv.png" alt=""/></span><span
                class="sName">东方卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv1.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv1.png" alt=""/></span><span
                class="sName">CCTV1</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv5.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv5.png" alt=""/></span><span
                class="sName">CCTV5</span></a></li>
    </ul>
</div>
<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>卫视台</h2>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="liveList clearfix">
        <li><a href="http://m.m4yy.com/live/hunan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/hntv.png" alt=""/></span><span
                class="sName">湖南卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/zhejiang.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/zjtv.png" alt=""/></span><span
                class="sName">浙江卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/jiangsu.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/jstv.png" alt=""/></span><span
                class="sName">江苏卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/beijing.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/bjtv.png" alt=""/></span><span
                class="sName">北京卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/tianjin.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/tjtv.png" alt=""/></span><span
                class="sName">天津卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/anhui.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/ahtv.png" alt=""/></span><span
                class="sName">安徽卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/shandong.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/sdtv.png" alt=""/></span><span
                class="sName">山东卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/shenzhen.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/sztv.png" alt=""/></span><span
                class="sName">深圳卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/dongnan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/dntv.png" alt=""/></span><span
                class="sName">东南卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/hubei.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/hbtv.png" alt=""/></span><span
                class="sName">湖北卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/sichuan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/sctv.png" alt=""/></span><span
                class="sName">四川卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/jiangxi.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/jxtv.png" alt=""/></span><span
                class="sName">江西卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/yunnan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/yntv.png" alt=""/></span><span
                class="sName">云南卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/guizhou.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/gztv.png" alt=""/></span><span
                class="sName">贵州卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/henan.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/henantv.png" alt=""/></span><span
                class="sName">河南卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/heilonggjiang.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/hljtv.png" alt=""/></span><span
                class="sName">黑龙江卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/jilin.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/jltv.png" alt=""/></span><span
                class="sName">吉林卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/hebei.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/hebeitv.png" alt=""/></span><span
                class="sName">河北卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/guangxi.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/gxtv.png" alt=""/></span><span
                class="sName">广西卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/chongqing.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cqtv.png" alt=""/></span><span
                class="sName">重庆卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/qinghai.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/qhtv.png" alt=""/></span><span
                class="sName">青海卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/shanxi2.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/sxtv.png" alt=""/></span><span
                class="sName">陕西卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/neimenggu.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/nmgtv.png" alt=""/></span><span
                class="sName">内蒙古卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/shanxi.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/shanxitv.png"
                alt=""/></span><span class="sName">山西卫视</span></a></li>
        <li><a href="http://m.m4yy.com/live/gansu.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/gstv.png" alt=""/></span><span
                class="sName">甘肃卫视</span></a></li>
    </ul>
</div>
<div class="modo_title top"><i class="icol iconfont"></i>
    <h2>中央电视台</h2>
</div>
<div class="all_tab" style="border-bottom:none">
    <ul class="liveList clearfix">
        <li><a href="http://m.m4yy.com/live/cctv1.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv1.png" alt=""/></span><span
                class="sName">CCTV1</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv2.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv2.png" alt=""/></span><span
                class="sName">CCTV2</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv3.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv3.png" alt=""/></span><span
                class="sName">CCTV3</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv4.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv4.png" alt=""/></span><span
                class="sName">CCTV4</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv5.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv5.png" alt=""/></span><span
                class="sName">CCTV5</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv6.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv6.png" alt=""/></span><span
                class="sName">CCTV6</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv7.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv7.png" alt=""/></span><span
                class="sName">CCTV7</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv8.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv8.png" alt=""/></span><span
                class="sName">CCTV8</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv9.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv9.png" alt=""/></span><span
                class="sName">CCTV9</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv10.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv10.png" alt=""/></span><span
                class="sName">CCTV10</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv11.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv11.png" alt=""/></span><span
                class="sName">CCTV11</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv12.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv12.png" alt=""/></span><span
                class="sName">CCTV12</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv13.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv13.png" alt=""/></span><span
                class="sName">CCTV13</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv14.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv14.png" alt=""/></span><span
                class="sName">CCTV14</span></a></li>
        <li><a href="http://m.m4yy.com/live/cctv15.html" target="_self"><span class="sPic"><img
                src="http://m.m4yy.com/templets/2345/images/indexDefault.png" class="loading"
                data-original="http://imgwx5.2345.com/dypcimg/mversion/pic/channelLogo/cctv15.png" alt=""/></span><span
                class="sName">CCTV15</span></a></li>
    </ul>
</div>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/sildeFocusPlugin.js"></script>
<script>
    $("#focus").sildeFocusPlugin({
        speed: 10,
        conClassName: "focusList",
        tabClassName: "focusTab"
    });
</script>
<div class="footer">
    <div class="fBox">
        <div class="footer_nav">
            <a href="http://m.m4yy.com/top/top.html" target="_self">影片榜单</a>-<a href="http://m.m4yy.com/gbook.php"
                                                                                target="_self">留言反馈</a>-<a
                href="javascript:scroll(0,0)" target="_self">返回顶部</a></div>
        本网站所有内容均系采集于互联网，若本站收录的节目无意侵犯了贵司版权，请给邮箱xuanday#qq.com来信，我们会及时处理！
    </div>
</div>
<section class="fixedBtnList" style="">
    <a onclick="_dct_('mys_bottom_top');" class="gotoTop" target="_self" href="javascript:scroll(0,0)"></a>
</section>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1263238855&web_id=1263238855"
                                   language="JavaScript"></script></span>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/common.min.js"></script>
<script type="text/javascript" src="http://m.m4yy.com/js/ads/lm.js"></script>
</body>
</html>