<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"
          name="viewport"/>
    <title>诡井高清版-电影-高清完整版在线观看-没事影院</title>
    <meta name="title" content="诡井高清版-电影-高清完整版在线观看-没事影院"/>
    <meta name="Keywords" content="诡井高清版高清视频，诡井高清版电影在线观看，诡井高清版主要剧情"/>
    <meta name="description"
          content="《诡井》高清版，电影高清完整版在线观看。诡井是由常杨 导演，由彭禺厶 周凯文 曹琦主演的电影。影片剧情简介：影片取材自深井怨灵灵异事件。五个同一公司的青年参加公司的野外测试，却鬼打墙般地困在一口诡异的枯井边，枯井边异象丛生，怨灵乍现。五个年轻人都在枯井中看到了恐怖的景象，五人纷纷陷入到无尽的恐怖循环之中..。"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta content="没事影院" name="apple-mobile-web-app-title"/>
    <link href="http://m.m4yy.com/templets/2345/images/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery-lazyload.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/jquery.base.js"></script>
    <script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/dx.js"></script>
    <script>var sitePath = '';</script>
    <script src="http://m.m4yy.com/js/common.js"></script>
    <script src="http://m.m4yy.com/js/function.js"></script>
    <script src="http://m.m4yy.com/js/play.js"></script>
    <script>var playn = '诡井', playp = '高清版';</script>
</head>
<body>
<header class="header clearfix">
    <a href="http://m.m4yy.com/show/20914.html" target="_self" class="aGoBack"><i class="moreArrow"></i><span>返回</span></a>
    <a href="javascript:void(0);" target="_self" class="aHeaderSearch top_search_btn"><i
            class="globalIcon searchIcon"></i><em>全网搜索</em></a>
    <a href="http://m.m4yy.com/" target="_self" class="aHeaderFun"><i
            class="globalIcon indexIcon"></i><span>首页</span></a>
    <section class="searchPop popShow">
        <section class="searchCon"><span class="sSearchInput">
<form id="ffsearch" name="ffsearch" method="post" action="http://m.m4yy.com/search.php"><input autocomplete="off"
                                                                                               autovalue="请输入片名或主演名"
                                                                                               class="searchInput"
                                                                                               placeholder="请输入片名或主演名"
                                                                                               type="search" id="wd"
                                                                                               name="wd"></form><i
                class="iDelete" style="display: none;"></i></span><input class="cancelInput" value="取消" type="button">
        </section>
        <p class="pLinks">

            <a href="http://m.m4yy.com/show/17365.html" target="_self" title="神探狄仁杰第四部"><span
                    class="sName">神探狄仁杰第四部</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/22056.html" target="_self" title="大话西游之爱你一万年"><span
                    class="sName">大话西游之爱你一万年</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21467.html" target="_self" title="白夜追凶"><span class="sName">白夜追凶</span><span
                    class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21455.html" target="_self" title="那年花开月正圆"><span
                    class="sName">那年花开月正圆</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21379.html" target="_self" title="通天狄仁杰"><span
                    class="sName">通天狄仁杰</span><span class="sStyle">电视剧</span></a>

            <a href="http://m.m4yy.com/show/21834.html" target="_self" title="反黑"><span class="sName">反黑</span><span
                    class="sStyle">电视剧</span></a>

        </p>
    </section>
</header>
<div class="mask"></div>
<div class="tbmov-noticetop">
    <script type="text/javascript" language="javascript" src="http://m.m4yy.com/js/js/waptop.js"></script>
</div>
<div class="list_nav" style="border:none">
    <div class="main fn-left"><span>您所观看的是：</span><a href="http://m.m4yy.com/type/1.html" title="电影"
                                                     target="_self">电影</a><em><i class="iconfont"></i></em><a
            class="current" href="http://m.m4yy.com/show/20914.html" title="诡井">诡井</a><em><i class="iconfont"></i></em>高清版
    </div>
</div>
<div class="playerbox">
    <script>var VideoInfoList = unescape("%u54AA%u5495%u89C6%u9891%24%24%u9AD8%u6E05%u7248%24631860042%24migu")</script>
    <script>var paras = getHtmlParas('.html');
    _lOlOl10l(paras[2], paras[1])</script>
    <iframe id='cciframe' scrolling='no' frameborder='0' allowfullscreen></iframe>
</div>
<div class="contenttt">1.有个别影片打开后播放需要等待。</br>2.如果加载失败，刷新重试，或者更换其他播放源。</br>3.如果电影打开不能播放请点击<a
        href="http://m.m4yy.com/gbook.php" target="_self">反馈</a>给我们，我们更换资源。
</div>
<div class="vod-play-tab main">
    <ul>
        <li><span class="current" onmousedown="setTab('vod',1,4);" id="vod1">剧集</span></li>
        <li><span onmousedown="setTab('vod',2,4);" id="vod2">简介</span></li>
        <li><span onmousedown="setTab('vod',3,4);" id="vod3">评论</span></li>
    </ul>
</div>
<div class="vod-play-info main">
    <div class="vod-info-tab" id="con_vod_1">
        <div class="play-title">
            <span style="background:none;color:#333;font-size:0.867rem;height:2rem;line-height:2rem; float:left;min-width:1.667rem; margin-right:0.3rem">播放源</span>
            <span id="migu" class="current"><a>咪咕视频</a></span>

        </div>

        <div class="play-box" id="play_4" style="display:blockdisplay:none">
            <ul class="plau-ul-list" id="vlink_4">
                <li><a title='高清版' href='player.html' style="color:red" target="_self">高清版</a></li>
            </ul>
        </div>


        <script>Wnew(1);</script>
    </div>
    <div class="vod-info-tab fn-hide" id="con_vod_2">
        <div class="vod_content">
            <ul class="ulTxt">
                <li class="liAll"><span class="sTit">别名：</span>未知</li>
                <li class="litxt"><span class="sTit">状态：</span>高清</li>
                <li class="litxt"><span class="sTit">评分：</span>0.0分</li>
                <li class="litxt"><span class="sTit">地区：</span>大陆</li>
                <li class="litxt"><span class="sTit">年份：</span>2017</li>
                <li class="liAll"><span class="sTit">类型：</span><a
                        href='http://m.m4yy.com/search.php?searchtype=5&amp;jq=%E6%81%90%E6%80%96'>恐怖</a>&nbsp;&nbsp;<a
                        href='http://m.m4yy.com/search.php?searchtype=5&amp;jq=%E6%83%8A%E6%82%9A'>惊悚</a>&nbsp;&nbsp;
                </li>
                <li class="liAll"><span class="sTit">导演：</span><a
                        href='http://m.m4yy.com/search.php?searchword=%E5%B8%B8%E6%9D%A8'>常杨</a>&nbsp;&nbsp;
                </li>
                <li class="liAll"><span class="sTit">主演：</span><a
                        href='http://m.m4yy.com/search.php?searchword=%E5%BD%AD%E7%A6%BA%E5%8E%B6'>彭禺厶</a>&nbsp;&nbsp;<a
                        href='http://m.m4yy.com/search.php?searchword=%E5%91%A8%E5%87%AF%E6%96%87'>周凯文</a>&nbsp;&nbsp;<a
                        href='http://m.m4yy.com/search.php?searchword=%E6%9B%B9%E7%90%A6'>曹琦</a>&nbsp;&nbsp;
                </li>
                <li class="liAll"><span class="sTit">简介：</span>影片取材自深井怨灵灵异事件。五个同一公司的青年参加公司的野外测试，却鬼打墙般地困在一口诡异的枯井边，枯井边异象丛生，怨灵乍现。五个年轻人都在枯井中看到了恐怖的景象，五人纷纷陷入到无尽的恐怖循环之中，绝望的恐惧吞噬着他们，这口怨气极重的枯井到底隐藏了一段怎样的惊人的经历？
                </li>
            </ul>
        </div>
    </div>
    <div class="vod-info-tab fn-hide" id="con_vod_3">
        <div class="vod_content">
            <!--WAP版-->
            <div id="SOHUCS" sid="20914"></div>
            <script id="changyan_mobile_js" charset="utf-8" type="text/javascript"
                    src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cysBPBDy3&conf=prod_dfadacd5f3c6457906ca4f50d8f54555">
            </script>
        </div>
    </div>
</div>
<div class="main vod-botx-title">
    <ul>
        <li id="latest1" onclick="setTab('latest',1,3);" class="current">猜你喜欢</li>
        <li id="latest2" onclick="setTab('latest',2,3);">同演员</li>
        <li id="latest3" onclick="setTab('latest',3,3);">同导演</li>
    </ul>
</div>
<div id="resize_list">
    <div class="all_tab" style="border-bottom:none" id="con_latest_1">
        <ul class="list_tab_img">

            <li><a href="http://m.m4yy.com/show/21247.html" title="侠盗联盟" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/170614/8861339e5d0b9cd6.jpg" alt="侠盗联盟"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">3.3</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/21247.html" target="_self"
                       style="width: 126px; height: 168px;">侠盗联盟</a></h2>
            </li>

            <li><a href="http://m.m4yy.com/show/22501.html" title="超凡蜘蛛侠" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/170508/61464b9771e36184.gif" alt="超凡蜘蛛侠"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">0.0</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/22501.html" target="_self" style="width: 126px; height: 168px;">超凡蜘蛛侠</a>
                </h2>
            </li>

            <li><a href="http://m.m4yy.com/show/22461.html" title="小小爸爸" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/171014/f69d40983f0d01a4.jpg" alt="小小爸爸"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">0.0</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/22461.html" target="_self"
                       style="width: 126px; height: 168px;">小小爸爸</a></h2>
            </li>

        </ul>
    </div>
    <div class="all_tab fn-hide" style="border-bottom:none" id="con_latest_2">
        <ul class="list_tab_img">

            <li><a href="http://m.m4yy.com/show/20914.html" title="诡井" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/170726/5c118a30b97f5505.gif" alt="诡井"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">0.0</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/20914.html" target="_self"
                       style="width: 126px; height: 168px;">诡井</a></h2>
            </li>

            <li><a href="http://m.m4yy.com/show/22010.html" title="烈焰青春" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/170927/09ba52a9bcc4f93a.jpg" alt="烈焰青春"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">0.0</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/22010.html" target="_self"
                       style="width: 126px; height: 168px;">烈焰青春</a></h2>
            </li>

            <li><a href="http://m.m4yy.com/show/18704.html" title="格格的贴身医卫" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://wx4.sinaimg.cn/mw690/0063nyhPgy1fgu6d26lh9j305006kt97.jpg" alt="格格的贴身医卫"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">4.3</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/18704.html" target="_self" style="width: 126px; height: 168px;">格格的贴身医卫</a>
                </h2>
            </li>

        </ul>
    </div>
    <div class="all_tab fn-hide" style="border-bottom:none" id="con_latest_3">
        <ul class="list_tab_img">

            <li><a href="http://m.m4yy.com/show/20914.html" title="诡井" target="_self"
                   style="width: 126px; height: 168px;">
                <div class="picsize" style="width: 126px; height: 168px;">
                    <img class="loading" src="http://m.m4yy.com/templets/2345/images/indexDefault.png"
                         data-original="http://pic.yy604.cn/uploads/allimg/170726/5c118a30b97f5505.gif" alt="诡井"
                         style="width: 126px; height: 168px; display: inline;"><label class="score">0.0</label>
                    <label class="title">高清</label></div>
            </a>
                <h2><a href="http://m.m4yy.com/show/20914.html" target="_self"
                       style="width: 126px; height: 168px;">诡井</a></h2>
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/sildeFocusPlugin.js"></script>
<script>
    $("#focus").sildeFocusPlugin({
        speed: 10,
        conClassName: "focusList",
        tabClassName: "focusTab"
    });
</script>
<div class="footer">
    <div class="fBox">
        <div class="footer_nav">
            <a href="http://m.m4yy.com/top/top.html" target="_self">影片榜单</a>-<a href="http://m.m4yy.com/gbook.php"
                                                                                target="_self">留言反馈</a>-<a
                href="javascript:scroll(0,0)" target="_self">返回顶部</a></div>
        本网站所有内容均系采集于互联网，若本站收录的节目无意侵犯了贵司版权，请给邮箱xuanday#qq.com来信，我们会及时处理！
    </div>
</div>
<section class="fixedBtnList" style="">
    <a onclick="_dct_('mys_bottom_top');" class="gotoTop" target="_self" href="javascript:scroll(0,0)"></a>
</section>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1263238855&web_id=1263238855"
                                   language="JavaScript"></script></span>
<script type="text/javascript" src="http://m.m4yy.com/templets/2345/images/common.min.js"></script>
<script type="text/javascript" src="http://m.m4yy.com/js/lm.js"></script>
<script type="text/javascript" src="http://m.m4yy.com/js/foot.js"></script>
</body>
</html>